x'<!DOCTYPE html>
<html lang="pt">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Meu aplicativo ASP.NET</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GProjet", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Início", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "HelpPage" }, null)</li>
                </ul>

                
                @Html.Partial("_LoginPartial")
                <div class="col-md-4" role="group" aria-label="...">
                    <div class="col-md-4" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ferramentas
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Aprova Finalização de Atividade", "ApproveFinalizationActivities", "Home", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Atribuir atividades", "AssignActivities", "Home", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Cadastra Gerente Projeto", "CadGerente", "Home", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Criar projeto", "CreateProject", "Home", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Finalizar atividade", "EndActivity", "Home", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Gerenciar Atividades", "ManageActivities", "Home", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Executar atividades", "PerformActivities", "Home", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Informa impedimento de atividade", "ReportsActivityImpediment", "Home", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Informa duração da atividade", "ReportsDurationActivity", "Home", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Selecionar membro para projeto", "SelectMemberProject", "Home", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Acompanhar atividades", "TrackActivities", "Home", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Visualizar projeto", "ViewProject", "Home", new { area = "" }, null)</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
        <hr />
        <footer>
            <p>&copy; GProjet LTDA</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
