@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <div class="col-md-4" role="group" aria-label="...">
        <div class="col-md-4" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ferramentas
                    <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Aprova Finalização de Atividade", "ApproveFinalizationActivities", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Atribuir atividades", "AssignActivities", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Cadastra Gerente Projeto", "CadGerente", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Criar projeto", "CreateProject", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Finalizar atividade", "EndActivity", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Gerenciar Atividades", "ManageActivities", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Executar atividades", "PerformActivities", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Informa impedimento de atividade", "ReportsActivityImpediment", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Informa duração da atividade", "ReportsDurationActivity", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Selecionar membro para projeto", "SelectMemberProject", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Acompanhar atividades", "TrackActivities", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Visualizar projeto", "ViewProject", "Home", new { area = "" }, null)</li>
                
            </ul>
        </div>
    </div>

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Olá " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: new { area = "" }, htmlAttributes: new { title = "Manage" })
            
        </li>
        <li><a href="javascript:sessionStorage.removeItem('accessToken');$('#logoutForm').submit();">Fazer logoff</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrar", "Register", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Fazer logon", "Login", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
